*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#navList{
    list-style: none;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 15px;
    margin-right: 15px; */
    padding: 15px;
}
.container{
    height: 100%;
    width: 100vw;
    overflow-x: none;
    background: rgb(238,174,231);
    background: radial-gradient(circle, rgba(238,174,231,1) 33%, rgba(148,187,233,1) 100%);
}
.navContainer{
    width: 100vw;
    min-height: 80px;
    background-color: rgba(113,113,154,0.776);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,56,121,1) 27%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    overflow-x: none;
}
#navLogo{
    font-size: 2.8rem;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navItems{
    display: flex;
    gap: 30px;
    
}
.footerBox{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,56,121,1) 27%, rgba(0,212,255,1) 100%);
    text-align: center;
    min-height: 40px;
}
.footerBox p{
    color: aliceblue;
    font-size: 2rem;
}

.contentbox{
    width: 65%;
    margin: auto;
    border:1px solid black;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 1px 1px 40px ;
}
.item{
    display: flex;
    justify-content: space-around;
}
.rightbox img{
    height: 400px;
    width: 300px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.leftbox{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.leftbox h2{
    font-size: 2rem;
}
.ingbox h3{
    font-size: 1.5rem;
}
.rightbox:hover{
    transform: scale(0.8);
}
.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
}
.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36,34,34,0.713);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.rightbox:hover .overlay{
    opacity:1;
}
.rightbox .overlay span{
    color: aliceblue;
    font-size: 1.1rem;;
}